<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>GATO WEB</title>
</head>
<body>
<div>
    {% if ganador !="" %}
    <h2>Ganador: <img src="/static/{{celda['1']}}.jpg" width="70" height="70" ></h2>
    {% else %}
    <h2</h2>
    {% endif %}
</div>
<div>
    <form action="" method="POST"> 
    <div class="row">
        <div class="column">
            <div class="celda">
                {% if celda['1'] == '1' %}
                <input type="submit" class="botonblanco" value="1" name="pos">
                {% else %}
                <img src="/static/{{celda['1']}}.jpg" width="70" height="70" >
                {% endif %}
            </div>
        </div>  
        <div class="column">
            <div class="celda">
                {% if celda['2'] == '2' %}
                <input type="submit" class="botonblanco" value="2" name="pos">
                {% else %}
                <img src="/static/{{celda['2']}}.jpg" width="70" height="70" >
                {% endif %}
            </div>
        </div>  
        <div class="column">
            <div class="celda">
                {% if celda['3'] == '3' %}
                <input type="submit" class="botonblanco" value="3" name="pos">
                {% else %}
                <img src="/static/{{celda['3']}}.jpg" width="70" height="70" >
                {% endif %}

            </div>
        </div> 
    </div> 
    <div class="row">
        <div class="column">
            <div class="celda">
                {% if celda['4'] == '4' %}
                <input type="submit" class="botonblanco" value="4" name="pos">
                {% else %}
                <img src="/static/{{celda['4']}}.jpg" width="70" height="70" >
                {% endif %}

            </div>
        </div>  
        <div class="column">
            <div class="celda">
                {% if celda['5'] == '5' %}
                <input type="submit" class="botonblanco" value="5" name="pos">
                {% else %}
                <img src="/static/{{celda['5']}}.jpg" width="70" height="70" >
                {% endif %}

            </div>
        </div>  
        <div class="column">
            <div class="celda">
                {% if celda['6'] == '6' %}
                <input type="submit" class="botonblanco" value="6" name="pos">
                {% else %}
                <img src="/static/{{celda['6']}}.jpg" width="70" height="70" >
                {% endif %}

            </div>
        </div> 
    </div> 
    <div class="row">  
        <div class="column">
            <div class="celda">
                {% if celda['7'] == '7' %}
                <input type="submit" class="botonblanco" value="7" name="pos">
                {% else %}
                <img src="/static/{{celda['7']}}.jpg" width="70" height="70" >
                {% endif %}

            </div>
        </div>  
        <div class="column">
            <div class="celda">
                {% if celda['8'] == '8' %}
                <input type="submit" class="botonblanco" value="8" name="pos">
                {% else %}
                <img src="/static/{{celda['8']}}.jpg" width="70" height="70" >
                {% endif %}

            </div>
        </div>  
        <div class="column">
            <div class="celda">
                {% if celda['9'] == '9' %}
                <input type="submit" class="botonblanco" value="9" name="pos">
                {% else %}
                <img src="/static/{{celda['9']}}.jpg" width="70" height="70" >
                {% endif %}

            </div>
        </div> 
    </div> 
    {% if ganador != ""  %}
    <input type="submit" value="Otro juego" name="repetir">
    {% endif %}
    </form>
</div>


    
</body>
</html>